@import '../../../SCSS/variable';
.login-wrapper {
    height: 100%;
    background-image: url("./../../../assets/images/C19.jpg");
    padding: 30px 150px;
  }
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
  }

  .login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }

  .login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper .mat-card {
    padding: 40px 70px 50px;
  }

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background:$covid19-primary;
    color: #fff;
    border-radius: 25px;
} 
.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }
