
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$covid19-primary: mat-palette($mat-indigo);
$covid19-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$covid19-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$covid19-theme: mat-light-theme((
  color: (
    primary: $covid19-primary,
    accent: $covid19-accent,
    warn: $covid19-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($covid19-theme);

/* You can add global styles to this file, and also import other style files */
@import './SCSS/variable';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-toolbar {
  background: #004a9f;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 100px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-toolbar {
  justify-content: space-between;
}

.content ,.country-content{
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

mat-sidenav-container {
  height: 100vh;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
      margin-right: 8px;
  }
}

.main-container{
  padding: 16px;

}
.t-count{
  .mat-elevation-z4{
    box-shadow: none !important;
    border: 2px solid $covid19-primary;
    border-radius: 15px;
    padding: 30px;
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 5px 40px;
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;
  }
}

.mat-list-item{
  margin-bottom: 15px;
}

.content{
  
  mat-card-content{
    text-align: center;
    font-size: 40px !important;
    color: $covid19-primary;
  }
mat-card-title {
  h3{
    font-size: 30px !important;
    font-weight: 1;
    color: $covid19-primary;
  }
}
}
.muted{
  font: 400 43px/47px Roboto, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal;
  margin: 0 0 16px;
  opacity: 0.5;
}

.muted mat-divider{
  display: inline-flex;
  margin: 15px !important;
  border-top: 1px solid $muted-text;
}


.country-content{
  mat-card {
    padding: 0 !important;
    width: 33.33%;
    flex: 0 0 33.333% !important;
    margin-bottom: 20px;
  }
  .mat-elevation-z8{
    margin: 10px 30px;
    box-shadow: none !important;
    border: 2px solid $covid19-primary;
    border-radius: 10px;
    padding: 25px;
    
  }
  .mat-card:not([class*=mat-elevation-z]){
    box-shadow: none !important;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .flag{
    align-items: center !important;
  justify-content: flex-start !important;
  }
  mat-card-content{
    padding: 24px;
  }
  .mat-card-avatar{
    border-radius: 0% !important;
    object-fit: cover;
  }
}


.edit-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
mat-card{
  padding: 75px !important;
}
}


.m-0{
  margin: 0 !important;
}

.border-radius-0{
  border-radius: 0 !important;
}

.sidebar-nav{
  background: $covid19-primary;
}

.sidenav-icon{
  color: #fff;
  font-size: 35px;
}

.mat-nav-list{
  height: 95%;
  display: flex !important;
  flex-flow: column;
}
.logut-btn{
    margin-top: auto;
}

.edit-form{
  width: 80%;
    padding-top: 30px;
}
.editbtn{
  width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}
.btn-submit{
  border-radius: 25px !important; 
    padding: 4px 40px  !important;
    background-color:$covid19-primary;
    color: #fff;
}
.btn-cancel{
  border-radius: 25px !important; 
    padding: 4px 40px  !important;

}

.mat-nav-list a.active {
  position: relative;
  &::before{
    content: "";
    background: #00FFFF;
    width: 7px;
    height: 100%;
    z-index: 99;
    position: absolute;
    left: 0;
    
  }
  mat-card-title{
    color: $covid19-primary !important;
  }

    mat-card-subtitle{
      color: $covid19-primary !important;

  }

  
}